{% load render_table from django_tables2 %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <!--Employees data-->
             <div class="filter-container container-fluid">
                 <div class="row">
                     <div class="col-md-10">
                         <!--filter form-->
                         <form action="" class="form form-inline employee-search-form" method="get">
                             {% bootstrap_form filter.form layout='inline' %}
                             {% bootstrap_button 'filter' %}
                         </form>
                     </div>

                     <div class="col-md-2">
                         <div class="btn-group download-btn">
                             <button aria-expanded="false" aria-haspopup="true"
                                     class="btn btn-warning dropdown-toggle"
                                     data-toggle="dropdown" type="button">
                                 Download
                             </button>
                             <div class="dropdown-menu">

                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- data rendered here -->
             {% render_table table 'django_tables2/bootstrap.html' %}
         </div>

</body>
</html>
