{% extends 'image_app/base.html' %}
{% load crispy_forms_tags %}
{% crispy K8Points_ClassroomForm %}
{% load static %}
{% block content %}


<br>
<h2>{% load static %}
    <img src="{% static 'forms/star.png' %}" alt="chain" height="62" width="62">  {{class_name}}</h2>
<br>
<br>
<script> </script>

<form action="/points/k8_points_classroom" method="POST">
    {% csrf_token %}
    <!-- Start Date -->
    <div class="container">
        <div class="container">
            <div class='row'>
                <div class="col-4">
                    <p> Recording Data as User : {{user.username}} </p>
                    </div>
                    </div>
                    <div class='row'>
                       <div class = "col-2">
                     <input type="button" onclick="window.location.href = '/points/k8_points';" value="Exit Classroom"/>
                            </div>
                         </div>
                        <br>
                 <div class='row'>
                    <div class = "col-2">
                        {{form.date|as_crispy_field }}
                           </div>
                           <div class = "col-2">
                        {{form.week_of|as_crispy_field }}
                           </div>
                             <div class = "col-2">
                        {{form.day|as_crispy_field }}
                           </div>

                              </div>

            </div>
       </form>

            <div class="jumbotron" align="middle">
                  <img src="{% static 'forms/levelup.png' %}" alt="levelup" height="120" width= "120">
                <h1>My Students</h1>

                <!-- Line Break -->
                <hr style="border: 1px solid black;"/>
                <!-- Line Break -->

                <div class="row mb-3">
                {% for i in students%}
                        <div class="col-md-4 themed-grid-col"><h2>{{i.student_name}}</h2>
                            <p align="left"> Today's Score: {{total}}</p>

                            <h4>
                                <button type="button" class="btn btn-primary  " data-toggle="modal"
                                        data-target="#PointsBox{{student.pk}}">Level Up
                                </button>

                                <a href="#" class="btn btn-success" role="button">Check Progress</a>

                            </h4>
                            <div id="PointsBox{{student.pk}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img src="{% static 'forms/star.png' %}" align="left" alt="chain" height="42"
                                                 width="42">
                                            <h4 class="modal-title">Points Confirmation </h4>
                                            <button type="button" class="close" data-dismiss="modal"> &times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>
                                                <div class="modal-body">Please add the selected points for the current
                                                    student.</div>
                                            </h6>



                                            <form action="/points/k8_points_classroom" method="POST">

                                                    {% csrf_token %}
                                            <div class="form-row" align='left'>
                                                <div class="col-7">
                                                    {{form.class_name|as_crispy_field }}
                                                    {{form.student_name|as_crispy_field }}
                                                    {{form.time_frame|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-3" align='left'>
                                                    {{form.behavior|as_crispy_field }}
                                                    {{form.academic|as_crispy_field }}

                                                    <button type="submit" class="btn btn-success" ><i
                                                            class="fas fa-star"></i> Level Up
                                                    </button>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-foot"></div>
                                    </div>
                                </div>
                            </div>
     </div>
         </form>

                  {% endfor %}
                     <script>
                      const class_name = "{{class_name}}";
                      var classnamedropdown = document.getElementById('id_class_name');
                      for (i = 0; i < classnamedropdown.options.length; i++) {
                      // if(classnamedropdown.options[i].text == "Mr. Neo 8th Grade Science")
                      if(classnamedropdown.options[i].text == class_name)
                      {
                         console.log(classnamedropdown.options[i].text)
                         $("#id_class_name").val(classnamedropdown.options[i].value)
                          }
                         }
                  </script>


                {% endblock %}
